{% extends "root.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/form.css' %}">
{% endblock %}

{% block content %}
<div class="global-form-wrapper">
    <div class="global-form">
        <h1>Endre Ticket</h1>
        <hr>
        <form action="/ticket/edit/{{ticketId}}" method="POST" class="global-form-form">
            {% csrf_token %}
            {{form}}
            <button class="btn btn-success mt-3">Lagre endringer</button>
        </form>
    </div>
</div>
{% endblock %}